@tailwind base;
@tailwind components;
@tailwind utilities;


/* to style scrollbar */
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 5px;
      /* height: 10px; */
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100svh;
      background: transparent;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 100svh;
      border: 5px solid black; /* check saumya */
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: black;
    }
  }